<h1>Gerenciamento de Ordens de compras</h1>
<hr>
<p><%= link_to "Usuarios", users_path %></p>
<p><%= link_to "Fornecedores", vendors_path %></p>
<p><%= link_to "Produtos", products_path %></p>
<p><%= link_to "Ordem de Compra", po_headers_path %></p>
<p><%= link_to "Linhas da Ordem de Compra", po_lines_path %></p>

