<h1>Listing vendors</h1>

<table>
  <tr>
    <th>Cnpj</th>
    <th>Fornecedor</th>
    <th>Tipo</th>
    <th>Telefone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vendors.each do |vendor| %>
  <tr>
    <td><%= vendor.cnpj %></td>
    <td><%= vendor.fornecedor %></td>
    <td><%= vendor.tipo %></td>
    <td><%= vendor.telefone %></td>
    <td><%= link_to 'Show', vendor %></td>
    <td><%= link_to 'Edit', edit_vendor_path(vendor) %></td>
    <td><%= link_to 'Destroy', vendor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vendor', new_vendor_path %>
